
          body {
            background-image: url("absent007.jpg");
            background-color: black;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 200%;
            animation: slide-background 0.1s linear infinite;
          }
          h1 {
      color: #72deff; /* set the title color */
      text-align: center;
      margin-top: 50px;
      font-size: 100px;
    }
    p {
      color: #bcff05; /* set the title color */
      text-align: left;
      margin-top: 10px;
      font-size: 20px;
    }
    label {
      color: #00f7ff; /* set the title color */
      text-align: center;
      margin-top: 50px;
      font-size: 30px;
    }
          label {
            display: block;
            margin-bottom: 10px;
          }
          input[type="text"] {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 2px solid #2702f7;
            border-radius: 10px;
            box-sizing: border-box;
            margin-bottom: 20px;
            
          }
          input[type="submit"] {
            background-color: #1db122;
            color: rgb(0, 9, 58);
            padding: 10px 100px;
            font-size: 30px;
            font-style: initial;
            border: none 10px;
            border-radius: 10px;
            cursor: pointer;
            
           
          }
          input[type="submit"]:hover {
            background-color: #00ca0a;
          }
          button {
        background-color: blue;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 30px;
      }
      button:hover {
        background-color: darkblue;
      }
       